pcb/backups
pcb/ThermoBuzzer_pcb/ThermoBuzzer_pcb-backups
pcb/ThermoBuzzer_pcb/_autosave-ThermoBuzzer_pcb.kicad_sch
pcb/ThermoBuzzer_pcb/#auto_saved_files#
pcb/ThermoBuzzer_pcb/~_autosave-ThermoBuzzer_pcb.kicad_pcb.lck
pcb/ThermoBuzzer_pcb/~ThermoBuzzer_pcb.kicad_sch.lck
pcb/ThermoBuzzer_pcb/fp-info-cache